.tweetBox__input {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.tweetBox__input > input:focus {
  outline: none;
}
.tweetBox__url:focus {
  outline: none;
}
.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--background-color);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input > input {
  padding: 10px;
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}
.tweetBox__url {
  padding: 5px;
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetbox_tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
